{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>{% block titulo %}{% endblock %} - SOLAR | Defensoria Pública do Estado do Tocantins</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google font -->
    <!-- <link href="http://fonts.googleapis.com/css?family=Aclonica:regular" rel="stylesheet" type="text/css"/> -->
    <!-- styles -->
    <link type="text/css" href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/DT_bootstrap.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/stilearn.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/stilearn-responsive.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/stilearn-helper.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/elusive-webfont.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/datepicker.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/select2.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/redactor.min.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/jquery.pnotify.default.css" %}" rel="stylesheet">
    <!--<link type="text/css" href="{% static "css/gantt.css" %}" rel="stylesheet">-->
    <link type="text/css" href="{% static "css/sisat.css" %}" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css_app %}
    {% endblock %}

</head>
<body {% if angular %}ng-app="SisatApp"{% endif %}>
<!-- section cabecalho -->

<header class="header">
    <!-- navbar helper -->
    <div class="navbar-helper">
        <div class="row-fluid">
            <!-- painel nome-site -->
            <div class="span3">
                <div class="panel-sitename">
                    <h1>
                        <a href="{% url 'documentos:dashboard' %}" title="Solução Avançada em Atendimento de Referência">
                            SOLAR
                        </a>
                    </h1>
                </div>
            </div>
            <!--/painel nome-site-->
            <!-- painel usuario -->
            <div class="span8">
                <span class="pull-right color-white"><b>{{ request.user.get_full_name }}</b></span><br>
                    <span class="pull-right color-white">
                        <a href="" target="_blank" title="Atuações da comarca" rel="tooltip"
                           data-placement="bottom">

                            <i class="icofont-globe"></i>
                        </a>
                    </span>
            </div>
            <div class="span1">
                <!--panel button ext-->
                <div class="panel-ext">
                    <div class="btn-group user-group">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <img class="corner-all" align="middle" src="{{ user}}"
                                 title="{{ request.user.get_full_name }}" alt="{{ request.user.get_full_name }}"
                                 height="48" width="48"/> <!--this for display on PC device-->
                        </a>
                        <ul class="dropdown-menu dropdown-user" role="menu" aria-labelledby="dLabel">
                            <li>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="corner-all" src="{{ user }}"
                                             title="Visitar perfil" alt="Visitar perfil" height="150" width="150"/>
                                    </a>

                                    <div class="media-body description">
                                        <p><strong
                                                style="display: block; white-space: normal;">{{ request.user.get_full_name }}</strong>
                                        </p>

                                        <p class="muted"><strong>{{ request.user.username }}</strong></p>

                                        <p class="muted">{{ request.user.email }}</p>

                                        <p class="muted"></p>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-footer">
                                <div>
                                    <a href="{% url "logout" %}" class="btn btn-small btn-danger pull-right ">Sair</a>
                                    <a href="" class="btn btn-small"> Editar Perfil</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--panel button ext-->
            </div>
            <!-- /painel usuario -->
        </div>
    </div>
    <!--/nav bar helper-->
</header>
<!-- /section cabecalho -->
<!-- section conteudo -->
<section class="section">
    <div class="row-fluid">
        <!-- span menus -->
        <div class="span1">
            <aside class="side-left">
                <ul class="sidebar">
                    <li>
                        <a href="" title="Pesquisar">
                            <div class="helper-font-24">
                                <i class="icofont-search"></i>
                            </div>
                            <span class="sidebar-text">Buscar</span>
                        </a>
                        <ul class="sub-sidebar-form corner-top shadow-white">
                            <li class="title muted">Busca Rápida de Atendimentos</li>
                            <li>
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <div class="input-append">
                                        <input type="text" name="filtro" placeholder="Nome ou CPF do Assistido">
                                        <button type="submit" class="btn">
                                            <i class="icon-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="" class="corner-all">
                                    <i class="icofont-calendar"></i>
                                    <span class="sidebar-text">Agendamentos</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="corner-all">
                                    <i class="icofont-comments-alt"></i>
                                    <span class="sidebar-text">Atendimentos</span>
                                </a>
                            </li>
                            {% if perms.processo.view_processo %}
                                <li>
                                    <a href="" class="corner-all">
                                        <i class="icofont-folder-close"></i>
                                        <span class="sidebar-text">Processos</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="" class="corner-all">
                                    <i class="icofont-user"></i>
                                    <span class="sidebar-text">Assistidos</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% if perms.atendimento.view_129 %}
                        <li>
                            <a href="" title="129">
                                <div class="helper-font-24">
                                    <i class="icofont-phone"></i>
                                </div>
                                <span class="sidebar-text">129</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.atendimento.view_recepcao %}
                        <li>
                            <a href="" title="Recepção">
                                <div class="helper-font-24">
                                    <i class="icofont-book"></i>
                                </div>
                                <span class="badge badge-important"></span>
                                <span class="sidebar-text">Recepção </span>
                            </a>
                            <ul class="sub-sidebar corner-top shadow-silver-dark">
                                <li>
                                    <a href="" title="">
                                        <div class="helper-font-24">
                                            <i class="elusive-file-new"></i>
                                        </div>
                                        <span class="sidebar-text">Doc. Pendentes</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if perms.atendimento.view_defensor %}

                    {% endif %}
                    {% if perms.processo.view_processo %}
                        <li class="">
                            <a href="#" title="">
                                <div class="helper-font-24">
                                    <i class="icofont-folder-close"></i>
                                </div>
                                <span class="badge badge-important"></span>
                                <span class="sidebar-text">Processos</span>
                            </a>
                            <ul class="sub-sidebar corner-top shadow-silver-dark">
                                <li>
                                    <a href="" title="">
                                        <div class="helper-font-24">
                                            <i class="icofont-folder-close"></i>
                                        </div>
                                        <span class="sidebar-text">Processos</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="" title="">
                                        <div class="helper-font-24">
                                            <i class="icofont-legal"></i>
                                        </div>
                                        <span class="sidebar-text">Audiências</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if perms.nadep.view_atendimento %}
                        <li>
                            <a href="" title="Sistema de Atendimento ao Preso">
                                <div class="helper-font-24">
                                    <i class="icofont-lock"></i>
                                </div>
                                <span class="sidebar-text">SIAP</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.relatorios.view_relatorios %}
                        <li>
                            <a href="" title="Relatórios">
                                <div class="helper-font-24">
                                    <i class="icofont-bar-chart"></i>
                                </div>
                                <span class="sidebar-text">Relatórios</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.evento.add_evento or perms.defensor.add_atuacao %}
                        <li class="">
                            <a href="#" title="">
                                <div class="helper-font-24">
                                    <i class="icofont-cogs"></i>
                                </div>
                                <span class="sidebar-text">Admin</span>
                            </a>
                            <ul class="sub-sidebar corner-top shadow-silver-dark">
                                {% if perms.evento.add_evento %}
                                    <li>
                                        <a href="" title="">
                                            <div class="helper-font-24">
                                                <i class="icofont-calendar"></i>
                                            </div>
                                            <span class="sidebar-text">Eventos</span>
                                        </a>
                                    </li>
                                    {% if perms.defensor.add_atuacao %}
                                        <li class="divider"></li>
                                    {% endif %}
                                {% endif %}
                                {% if perms.defensor.add_atuacao %}
                                    <li>
                                        <a href="" title="">
                                            <div class="helper-font-24">
                                                <i class="icofont-comments-alt"></i>
                                            </div>
                                            <span class="sidebar-text">Defensores</span>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                {% endif %}
                                {% if perms.contrib.change_servidor %}
                                    <li>
                                        <a href="" title="">
                                            <div class="helper-font-24">
                                                <i class="icofont-group"></i>
                                            </div>
                                            <span class="sidebar-text">Servidores</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% block left_menu %}
                    {% endblock left_menu %}

                </ul>
            </aside>
        </div>
        <!-- span menus -->
        <!-- span content -->
        <div class="span11" {% if angular %}ng-controller="{{ angular }}" {% endif %}>
            <div class="content">
                <!-- content-header -->
                <div class="content-header">
                    <!-- bloco para o cabecalho da pagina -->
                    {% block cabecalho_app %}
                    {% endblock %}
                    <!-- /bloco para o cabecalho da pagina -->
                </div>
                <!-- /content-header -->
                <!-- bloco para o menu interno -->
                {% block menu_app %}
                {% endblock %}
                <!-- /bloco para o menu interno -->
                <div class="content-body">
                    <!-- bloco para o conteudo -->

<div class="row-fluid">
    <div class="span12">

        <!-- =========================================
                            ELEMENT
        =========================================== -->
        <!--element-->
        <div id="element" class="row-fluid">
            <!--span-->
            <div class="span12">
                <!--box-->
                <div class="box corner-all">
                    <!--box header-->
                    <div class="box-header grd-white color-silver-dark corner-top">
                        <div class="header-control">
                            <a data-box="collapse"><i class="icofont-caret-up"></i></a>
                            <a data-box="close">×</a>
                        </div>
                        <span>Elements</span>
                    </div>
                    <!--/box header-->
                    <!--box body-->
                    <div class="box-body">
                        <!--element-->

                        {% block conteudo_app %}

                            <div class="shortcut-group">
                                <ul class="a-btn-group">
                                    <li>
                                        <a href="{% url "documentos:create" %}" class="a-btn grd-white" rel="tooltip"
                                           data-original-title="Criar novo Documento">
                                            <span></span>
                                            <span><i class="icofont-edit color-silver-dark"></i></span>
                                            <span class="color-silver-dark"><i
                                                    class="icofont-file color-silver-dark"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="a-btn grd-white" rel="tooltip"
                                           data-original-title="upload something">
                                            <span></span>
                                            <span><i class="icofont-upload color-silver-dark"></i></span>
                                            <span class="color-silver-dark"><i
                                                    class="icofont-upload-alt color-silver-dark"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="a-btn grd-white" rel="tooltip" data-original-title="message">
                                            <span></span>
                                            <span><i class="icofont-envelope color-silver-dark"></i></span>
                                            <span class="color-silver-dark"><i
                                                    class="icofont-envelope-alt color-teal"></i></span>

                                            <div class="badge badge-info">9</div>
                                            <!--don't use span here!-->
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="a-btn grd-white" rel="tooltip" data-original-title="invoice">
                                            <span></span>
                                            <span><i class="icofont-barcode color-silver-dark"></i></span>
                                            <span class="color-silver-dark"><i
                                                    class="icofont-shopping-cart color-red"></i></span>

                                            <div class="label label-important">2</div>
                                            <!--don't use span here!-->
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="a-btn grd-white" rel="tooltip"
                                           data-original-title="check statistics">
                                            <span></span>
                                            <span><i class="icofont-bar-chart color-silver-dark"></i></span>
                                            <span class="color-silver-dark"><i class="typicn-lineChart"></i></span>
                                        </a>
                                    </li>
                                    <li class="clearfix"></li>
                                </ul>
                            </div>
                            <div class="divider-content"><span></span></div>


                        {% endblock %}
                        <!--/element-->
                    </div>
                    <!--/box body-->
                </div>
                <!--/box-->
            </div>
            <!--/span-->
        </div>
        <!--/element-->

    </div>
    <!--/span-->
</div>

                    <!-- /bloco para o conteudo -->
                </div>
            </div>
        </div>
        <!-- /span content -->
    </div>
</section>
<!-- /section conteudo -->

<!-- section rodape -->
<footer>
    <a rel="to-top" href="#top"><i class="icofont-circle-arrow-up"></i></a>
</footer>
<!-- section rodape -->

<!-- ============== javascript ============== -->
<!--[if lt IE 8]>
    <script src="{% static "js/json3.min.js" %}"></script>
    <![endif]-->
<!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.js" %}"></script>
    <![endif]-->
<script type="text/javascript" src="{% static "js/utils.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery/1.11.3/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery/1.11.3/jquery-migrate.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/uniform/jquery.uniform.js" %}"></script>
<script type="text/javascript" src="{% static "js/validate/jquery.validate.js" %}"></script>
<script type="text/javascript" src="{% static "js/validate/jquery.validate.methods.js" %}"></script>
<script type="text/javascript" src="{% static "js/validate/jquery.metadata.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/globalize/globalize.js" %}"></script>
<script type="text/javascript" src="{% static "js/globalize/globalize.culture.pt-BR.js" %}"></script>
<!-- <script type="text/javascript" src="{% static "js/datepicker/bootstrap-datepicker.js" %}"></script> -->
<!-- <script type="text/javascript" src="{% static "js/validate/jquery.maskedinput.min.js" %}"></script> -->
<script type="text/javascript" src="{% static "js/angular-ui/jquery.maskedinput.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular.1.2.14.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular-locale_pt-br.js" %}"></script>
<script type="text/javascript" src="{% static "js/ui-utils.0.1.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular-sanitize.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular-strap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular-strap/bootstrap-datepicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular-strap/bootstrap-timepicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/ui-bootstrap-tpls-0.11.2.min.js" %}"></script>
<!--<script type="text/javascript" src="{% static "js/angular-gantt.min.js" %}"></script>-->
<script type="text/javascript" src="{% static "js/holder.js" %}"></script>
<script type="text/javascript" src="{% static "js/pnotify/jquery.pnotify.js" %}"></script>
<script type="text/javascript" src="{% static "js/pnotify/jquery.pnotify.extra.js" %}"></script>
<script type="text/javascript" src="{% static "js/stilearn-base.js" %}"></script>

<!-- <script type="text/javascript" src="{% static "js/flot/jquery.flot.js" %}"></script> -->
<!-- <script type="text/javascript" src="{% static "js/flot/jquery.flot.resize.js" %}"></script> -->
<!-- <script type="text/javascript" src="{% static "js/flot/jquery.flot.categories.js" %}"></script> -->

<script type="text/javascript" src="{% static "js/select2/select2.js" %}"></script>
<script type="text/javascript" src="{% static "js/peity/jquery.peity.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-extend.js" %}"></script>

<script type="text/javascript" src="{% static "js/jquery.maskMoney.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular.maskMoney.js" %}"></script>

<script type="text/javascript" src="{% static "js/chronus.js" %}?v={{ JSVERSION }}"></script>

{% block js_app %}
{% endblock %}

<script type="text/javascript">

    $(document).ready(function () {

        upperText();

        //Desativa evento padrao do click em links #
        $('a[href=#]').live('click', function (e) {
            e.preventDefault();
        });

        $('input[data-mask]').each(function () {
            $(this).mask($(this).attr('data-mask'));
        });




        {% block js_ready_app %}

        {% endblock %}

    });

    function upperText() {


        // Para tratar o colar
        jQuery('input[type=text]:not([ui-mask])').bind('paste', function (e) {
            var el = jQuery(this);
            var text = jQuery(el).val();
            el.val(text.toUpperCase());
        });

        // Para tratar quando é digitado
        jQuery('input[type=text]:not([ui-mask]):not([mask-money])').bind('keyup', function (e) {
            // Remember original caret position
            var caretPosition = getCaretPosition(this);
            // Uppercase-ize contents
            this.value = this.value.toUpperCase();
            // Reset caret position
            setCaretPosition(this, caretPosition);
        });

    }

    // Thanks http://blog.vishalon.net/index.php/javascript-getting-and-setting-caret-position-in-textarea/
    function getCaretPosition(ctrl) {
        var CaretPos = 0;    // IE Support
        if (document.selection) {
            ctrl.focus();
            var Sel = document.selection.createRange();
            Sel.moveStart('character', -ctrl.value.length);
            CaretPos = Sel.text.length;
        }
        // Firefox support
        else if (ctrl.selectionStart || ctrl.selectionStart == '0') {
            CaretPos = ctrl.selectionStart;
        }

        return CaretPos;
    }

    function setCaretPosition(ctrl, pos) {
        if (ctrl.setSelectionRange) {
            ctrl.focus();
            ctrl.setSelectionRange(pos, pos);
        }
        else if (ctrl.createTextRange) {
            var range = ctrl.createTextRange();
            range.collapse(true);
            range.moveEnd('character', pos);
            range.moveStart('character', pos);
            range.select();
        }
    }

</script>

<!-- GOOGLE ANALYTICS -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-60263096-1', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>