# PyTest for running the tests.
pytest==2.7.2
pytest-django==2.8.0
pytest-cov
pytest-sugar
coverage
codecov


django-model-utils
django-debug-toolbar
-e git://github.com/luzfcb/django-simple-history.git@patch-2#egg=django-simple-history
-e git://github.com/maraujop/django-crispy-forms.git@dev#egg=django-crispy-forms
