{% extends "django_documentos/base.html" %}
{% block titulo %}
    Dashboard
{% endblock titulo %}

{% block cabecalho_app %}
    <h2><i class="icofont-home"></i> Dashboard Documentos
        <small>welcome to stilearn</small>
    </h2>
{% endblock cabecalho_app %}

{% block conteudo_app %}
    {{ block.super }}
    <h4>
        {% if quantidade_documentos_cadastrados %}
            Documentos Cadastrados: {{ quantidade_documentos_cadastrados }}
        {% endif %}

    </h4>
    <h4>
        {% if quantidade_meus_documentos %}
            Documentos criados por mim: {{ quantidade_meus_documentos }}
        {% endif %}

    </h4>

    <a href="{% url 'documentos:create' %}" target="_blank">
        Criar novo v1
    </a>
    <a href="{% url 'documentos:create' %}" onclick="create();">
        Criar novo v2
    </a>
    <script>

        function popUpClosed(algo) {
            console.log('recarregando pagina...');
            console.log('algo: ' + algo);
            //window.location.reload();
        }
        function mais_que(algo){
            console.log('recarregando pagina...');
            console.log('algo: ' + algo);
            //window.location.reload();
        }
        {#        function popupClosing() {#}
        {#            alert('About to refresh');#}
        {#            window.location.href = window.location.href;#}
        {#        }#}
        {#        function abrir_janela() {#}
        {#            var w = window.open("{% url 'documentos:create' %}", "_blank", "toolbar=yes, location=yes, directories=no, status=no, menubar=yes, scrollbars = yes, resizable = no, copyhistory = yes, width = 400, height = 400");#}
        {#            w.onunload = function () {#}
        {#                window.parent.popupClosing()#}
        {#            };#}
        {#            w();#}
        {#        }#}

    </script>


{% endblock conteudo_app %}