{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <script data-sample="1">
        var editor1;
        var html = '';

        function createEditor() {
            if (editor1)
                return;

            // Create a new editor instance inside the <div id="editor"> element,
            // setting its value to html.
            var config = {};
            editor1 = CKEDITOR.appendTo('editor1', config, html);

            // Update button states.
            document.getElementById('remove').style.display = '';
            document.getElementById('create').style.display = 'none';
        }

        function removeEditor() {
            if (!editor1)
                return;

            // Retrieve the editor content. In an Ajax application this data would be
            // sent to the server or used in any other way.
            html = editor1.getData();

            // Update <div> with "Edited Content".
            document.getElementById('editorcontent1').innerHTML = html;
            // Show <div> with "Edited Content".
            document.getElementById('content1').style.display = '';
            // Update button states.
            document.getElementById('remove').style.display = 'none';
            document.getElementById('create').style.display = '';

            // Destroy the editor.
            editor1.destroy();
            editor1 = null;
        }
    </script>
</head>
<body>

<button onclick="createEditor()">
    Editar

</button>

<div id="editor1" data-sample="1"></div>
<script type="application/javascript" src="{% static "django_documentos/js/jquery/1.11.3/jquery.min.js" %}"></script>
<script type="application/javascript" src="{% static "django_documentos/js/" %}"></script>

</body>
</html>