{% extends popup|yesno:"django_documentos/documento_create_popup_base.html,django_documentos/base.html" %}

{% load crispy_forms_tags %}

{% block titulo %}
    Editar Documento
{% endblock titulo %}




{% block conteudo_app %}
    {{ block.super }}

    {% if object %}
        <a href="{% url 'documentos:history' pk=object.pk %}" class="btn btn-primary"> Historico de Modificações</a>
    {% endif %}
    {% if object %}
        <a class="btn btn-primary" href="{% url 'documentos:assinar' object.pk %}">Assinar Documento</a>
    {% endif %}


    {% if form %}
            <form action="{% url 'documentos:update' object.pk %}{% if popup or next_page_url %}?{% endif %}{% if popup %}popup=1{% endif %}{% if next_page_url %}&{{ next_kwarg_name }}={{ next_page_url }}{% endif %}"
                  method="post" id="documento_update">
            {% csrf_token %}
            {% crispy form %}
        </form>
    {% endif %}

{% endblock conteudo_app %}

{% block js_app %}
    {{ block.super }}
    {% if form.media %}
        {{ form.media }}
    {% endif %}
    {% if popup %}
        <script>
            {# coloca o editor em fullscreen se for uma janela popup#}
            CKEDITOR.on('instanceReady',
                    function (evt) {
                        var editor = evt.editor;
                        editor.execCommand('maximize');
                    });
        </script>
    {% endif %}
{% endblock %}
