{% extends popup|yesno:"django_documentos/documento_create_popup_base.html,django_documentos/base.html" %}
{% load i18n %}
{#{% extends popup %}#}

{#{% extends "django_documentos/base.html" %}#}
{% load bootstrap3 staticfiles %}

{#{% block titulo %}#}
{#    Criar Documento#}
{#{% endblock titulo %}#}


{% block conteudo_app %}
    {{ block.super }}
    {% if form %}
        <a id="teste" href="{% url 'documentos:create' %}{% if popup %}?popup=1{% endif %}">Verifique a Validade</a>
        <div id="codigo_qr"></div>
        <div id="success_div"></div>
        <div id="error_div"></div>
        <form action="


                {% url 'documentos:create' %}{% if popup or next_page_url %}?{% endif %}{% if popup %}popup=1{% endif %}{% if next_page_url %}&{{ next_kwarg_name }}={{ next_page_url }}{% endif %}"
              method="post" id="documento_create">
            {% csrf_token %}

            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% endif %}

            {{ form.as_table }}
            <input type="submit" id="enviar" value="Submit">

        </form>
    <div id="appdebug"></div>
    {% endif %}

{% endblock conteudo_app %}
{% block js_app %}
    {{ block.super }}
    <script src="{% static 'django_documentos/js/prettyprint.js' %}"></script>

    {% if form.media %}
        {{ form.media }}
    {% endif %}
    {% if popup %}
        <script>
            {#        #}
            {% if not popup %}
                function OnClose() {
                    "use strict";
                    if (window.opener != null && !window.opener.closed) {
                        window.opener.HideModalDiv();
                        {% if next_page_url %}
                            window.opener.redirecionar("{{ next_page_url }}");
                        {% endif %}
                    }
                }
                window.onunload = OnClose;
            {% endif %}
            {#            $('#documento_create').on('submit', '#enviar', function () {#}
            {#                $.ajax({#}
            {#                    type: $(this).attr('method'),#}
            {#                    url: $(this).attr('action'),#}
            {#                    data: $(this).serialize(),#}
            {#                    success: function () { // on success..#}
            {#                        var sucess_div = $('#success_div');#}
            {#                        sucess_div.append('Changes saved'); // update the DIV#}
            {#                        sucess_div.toggleClass('alert alert-success'); // unhide#}
            {#                    },#}
            {#                    error: function (xhr, ajaxOptions, thrownError) { // on error..#}
            {#                        var error_div = $('#error_div');#}
            {#                        error_div.append(xhr); // update the DIV#}
            {#                        error_div.toggleClass('alert alert-error'); // unhide#}
            {#                    }#}
            {#                });#}
            {#                return false;#}
            {#            });#}

        </script>
    {% endif %}

    <script type="text/javascript" src="{% static "django_documentos/js/autosize.js" %}"></script>
    <script src="{% static 'django_documentos/js/jquery.qrcode.min.js' %}"></script>
    <script src="{% static 'django_documentos/js/jquery.are-you-sure.js' %}"></script>
    <script>
{#        autosize(document.querySelectorAll('textarea'));#}
        var teste = $("#teste");
        var opcoes = {
            // render method: 'canvas', 'image' or 'div'
            render: 'image',

            // version range somewhere in 1 .. 40
            minVersion: 1,
            maxVersion: 40,

            // error correction level: 'L', 'M', 'Q' or 'H'
            ecLevel: 'H',

            // offset in pixel if drawn onto existing canvas
            left: 0,
            top: 0,

            // size in pixel
            size: 100,

            // code color or image element
            fill: '#000',

            // background color or image element, null for transparent background
            background: null,

            // content
            text: teste.attr("href"),

            // corner radius relative to module width: 0.0 .. 0.5
            radius: 0.5,

            // quiet zone in modules
            quiet: 0,

            // modes
            // 0: normal
            // 1: label strip
            // 2: label box
            // 3: image strip
            // 4: image box
            mode: 2,

            mSize: 0.1,
            mPosX: 0.5,
            mPosY: 0.5,

            label: 'Solar',
            fontname: 'sans',
            fontcolor: '#ff8300',

            image: null
        };

        $("#codigo_qr").qrcode(opcoes);
        {% if next_page_url %}

        {% endif %}
        $('form').areYouSure(
                {'message': "{% trans "Suas modificações ainda não foram salvas" %}"}
        );
        {% if popup %}
            {# coloca o editor em fullscreen se for uma janela popup#}
            CKEDITOR.on('instanceReady',
                    function (evt) {
                        var editor = evt.editor;
                        editor.execCommand('maximize');
                    });
        {% endif %}
    </script>
{% endblock %}
