{% extends "django_documentos/base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Reverter Documento
{% endblock titulo %}




{% block conteudo_app %}
    {{ block.super }}


    {% if form %}
        <form action="." method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if inlines %}
                {% for formset in inlines %}
                    <div id="formset-{{ forloop.counter|stringformat:"05d" }}">
                        {% bootstrap_formset formset %}
                    </div>
                {% endfor %}
            {% endif %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Reverter para esta versão
                </button>
            {% endbuttons %}
        </form>

    {% endif %}


{% endblock conteudo_app %}


{% block js_app %}
    {% if form.media %}
        {{ form.media }}
    {% endif %}
{% endblock %}
