{% extends popup|yesno:"django_documentos/documento_create_popup.html,django_documentos/base.html" %}
{#{% extends popup %}#}

{#{% extends "django_documentos/base.html" %}#}
{% load bootstrap3 staticfiles %}

{#{% block titulo %}#}
{#    Criar Documento#}
{#{% endblock titulo %}#}




{% block conteudo_app %}
    {{ block.super }}
    {% if form %}
        <form action="." method="post">
            {% csrf_token %}


            {{ form.as_p }}
            {% if inlines %}
                {% for formset in inlines %}
                    <div id="formset-{{ forloop.counter|stringformat:"05d" }}">
                        {{ formset }}
                    </div>
                {% endfor %}
            {% endif %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Submit
                </button>
            {% endbuttons %}
        </form>

    {% endif %}

{% endblock conteudo_app %}
{% block js_app %}

    {% if form.media %}
        {{ form.media }}
    {% endif %}
    {% if popup %}
        <script>
            {#        window.onunload = function () {#}
            {#            if (window.opener && !window.opener.closed) {#}
            {#                //window.opener.popUpClosed("Mááááá oiiiiiii");#}
            {#                window.opener.mais_que("http://www.google.com.br");#}
            {#            }#}
            {#        };#}
            function OnClose() {
                "use strict";
                if (window.opener != null && !window.opener.closed) {
                    window.opener.HideModalDiv('vaiFuncionar');
                    window.opener.redirecionar('vaiFuncionar');
                }
            }
            window.onunload = OnClose;

        </script>
    {% endif %}
{% endblock %}