{#{% extends standalone|yesno:"django_documentos/teste.html,django_documentos/base.html" %}#}
{% extends standalone %}
{#{% extends "django_documentos/base.html" %}#}
{% load bootstrap3 staticfiles %}

{#{% block titulo %}#}
{#    Criar Documento#}
{#{% endblock titulo %}#}




{% block conteudo_app %}
    {{ block.super }}

    <script>
        window.onunload = function () {
            if (window.opener && !window.opener.closed) {
                //window.opener.popUpClosed("Mááááá oiiiiiii");
                window.opener.mais_que("Mááááá oiiiiiii");
            }
        };
    </script>


    {% if form %}
        <form action="." method="post">
            {% csrf_token %}


            {{ form }}
            {% if inlines %}
                {% for formset in inlines %}
                    <div id="formset-{{ forloop.counter|stringformat:"05d" }}">
                        {{ formset }}
                    </div>
                {% endfor %}
            {% endif %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Submit
                </button>
            {% endbuttons %}
        </form>

    {% endif %}

{% endblock conteudo_app %}
{% block js_app %}

    {% if form.media %}
        {{ form.media }}
    {% endif %}


{% endblock %}