{% extends "django_documentos/documento_detail_base.html" %}
{% load django_documentos_tags %}



{% block titulo %}
    Detalhes Documento
{% endblock titulo %}




{% block conteudo_app %}
    {{ block.super }}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if object %}
        <a href="{% url 'documentos:history' pk=object.pk %}" class="btn btn-primary"> Historico de Modificações</a>
    {% endif %}

    <article>
        {% if object %}
                        {{ object.conteudo|safe }}
            <br>
            <br>
            <br>
            <br>
{#            {{ conteudo_sign }}#}
        {% else %}
            Nada para mostrar
        {% endif %}
    </article>
{% endblock conteudo_app %}