<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script>
    function OnClose() {
        "use strict";
        if (window.opener != null && !window.opener.closed) {
            window.opener.HideModalDiv();
            alert("{{ next_url2 }}");
{#            {% if next_url %}#}
{#                window.opener.redirecionar("{{ next_url }}");#}
{#            {% endif %}#}
        }
    }
    window.onunload = OnClose;
    window.location.href = "{{ next_url2 }}";
{#    window.close();#}
</script>

</body>
</html>