<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          rel="stylesheet">

    <style>
        .mynewcssclass {
            border: 10px solid rgb(183, 19, 19) !important;
            box-shadow: 0px 0px 3px rgba(228, 43, 43, 0.2) !important;
        }

        .outra {
            width: 100%;
        }
    </style>
</head>
<body style="background: rgb(204, 204, 204);">

<div id="top-ck-toolbar" class="navbar-fixed-top">
    <!-- ckeditor top toolbar is rendered here -->
</div>
<div id="bottom-ck-toolbar" class="navbar-fixed-bottom">
    <!-- ckeditor bottom toolbar is rendered here -->
</div>

<div id="mycontent"
     style="background: white;width: 21cm;height: 15cm;display: block;margin: 0 auto 0.5cm;box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);padding-top: 170px;">


    <textarea id="mytextarea1"></textarea>

</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://cdn.ckeditor.com/4.5.2/full-all/ckeditor.js"></script>
<script>
    var ckeditor_config = {
        extraPlugins: [
            "sharedspace",

        ].join(),
        sharedSpaces: {
            top: "top-ck-toolbar",
            bottom: "bottom-ck-toolbar"
        }
    };

    //start ckeditor
    CKEDITOR.replace("mytextarea1", ckeditor_config);

    CKEDITOR.on('instanceReady', function (evt) {
        var ckeditor_first_div_id = "cke_" + evt.editor.name;
        var selector_str = "#mycontent " + "#" + ckeditor_first_div_id;
        $(selector_str).addClass("mynewcssclass");
    });


</script>

</body>
</html>